# Feature Flags
# Set to 'false' to disable a feature by default
VITE_ENABLE_DASHBOARD=true
VITE_ENABLE_STUDIO=true
VITE_ENABLE_AGENCY=true
VITE_ENABLE_SQUADS=true
VITE_ENABLE_TALENTS=true
VITE_ENABLE_CONTRIBUTIONS=true
